{% extends "../../../static/base.html" %}


{% block title %}
    Изменение вопроса | {{ question.title }}
{% endblock title %}

{% block h1 %}
    Изменение вопроса
{% endblock h1 %}

{% block content %}
    <form action='{{ question.get_update_url }}' method="post">
        {% csrf_token %}
        {{ form }}

        <input type="submit" class="btn btn-primary mb-2" value="Сохранить изменения">
        <a class="btn btn-danger float-right" data-href="{{ question.get_delete_url }}" href="#"
                    data-toggle="modal" data-target="#confirm-delete">
        Удалить
        </a>
    </form>

    <br><br>
    <script>
        $('#confirm-delete').on('show.bs.modal', function (e) {
            $(this).find('.btn-ok').attr('href', $(e.relatedTarget).data('href'));
        });
    </script>



    <div class="modal fade" id="confirm-delete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    Точно удалить?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Отмена</button>
                    <a href="{{ question.get_delete_url }}" class="btn btn-danger btn-ok">Удалить</a>
                </div>
            </div>
        </div>
    </div>


{% endblock content %}