{% extends "../../../static/base.html" %}


{% block title %}
    Изменение вопроса | {{ question.title }}
{% endblock title %}

{% block h1 %}
    Изменение вопроса
{% endblock h1 %}

{% block content %}
    <form action='{{ question.get_update_url }}' method="post">
        {% csrf_token %}
        {{ form }}

        <input type="submit" class="btn btn-primary mb-2" value="Сохранить изменения">
        <a class="btn btn-danger float-right"
           data-href="{{ question.get_delete_url }}" href="#"
           data-toggle="modal" data-target="#confirm-delete"> Удалить
        </a>
    </form>
    {% include "static/confirm_delete.html" with text='Вы точно хотите удалить вопрос?'%}
{% endblock content %}