{% extends "../../../static/base.html" %}
{% block title %}
    {{ title }}
{% endblock title %}

{% block h1 %}
    {{ title }}
{% endblock h1 %}

{% block content %}

    <div class="list-group">
    {% for question in questions %}
        <a href="/q/{{ question.id }}" class="list-group-item list-group-item-action">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">{{ question.title|slice:":100" }}</h5>“
            </div>
            <p class="mb-1">{{ question.text }}</p>
            <small class="text-muted">{{ question.author }} — {{ question.date }}</small>
        </a>
    {% endfor %}
    </div>
    <a class="btn btn-primary" href="#" role="button" style="margin-top: 15px">Задать вопрос</a>

    </div>
{% endblock content %}